<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Flexi_Arm</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark navbar-custom">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="~/docs/ACT_LOGO_Q_BLANC_SANS-FOND.png"
                         height="35"
                         alt="MDB Logo"
                         loading="lazy" />
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
@*                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Role" asp-action="Index">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Role" asp-action="Maintenance">Maintenance</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Role" asp-action="Admin">Admin</a>
                        </li>*@

                    </ul>
                    <partial name="_LoginPartial" style="color:#ffffff" />

                </div>
            </div>
        </nav>




    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer-distributed">

        <div class="footer-left">

            <a class="navbar-brand" href="#">
                <img src="~/docs/Vinci.png"
                     height="65"
                     alt="MDB Logo" />
            </a>

            <a class="footer-links">
                <a href="https://www.vinci-energies.com/">Accueil Vinci</a>
                ·
                <a href="https://www.icm-automation.com/contact/">Demande de prix</a>
                ·
                <a href="https://www.icm-automation.com/">En savoir plus</a>
            </a>

        </div>

        <div class="footer-right">

            <p> Vinci Energies - Actemium Rouen Automation© 2023</p>

        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
