@page
@model Flexi_Arm.Areas.Communication_Robot.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Bras_Robot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Bras_Robot.Id_Robot" />
            <div class="form-group">
                <label asp-for="Bras_Robot.Name" class="control-label"></label>
                <input asp-for="Bras_Robot.Name" class="form-control" />
                <span asp-validation-for="Bras_Robot.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bras_Robot.Ip" class="control-label"></label>
                <input asp-for="Bras_Robot.Ip" class="form-control" />
                <span asp-validation-for="Bras_Robot.Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bras_Robot.Port" class="control-label"></label>
                <input asp-for="Bras_Robot.Port" class="form-control" />
                <span asp-validation-for="Bras_Robot.Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bras_Robot.speedapproach" class="control-label"></label>
                <input asp-for="Bras_Robot.speedapproach" class="form-control" />
                <span asp-validation-for="Bras_Robot.speedapproach" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bras_Robot.speedfree" class="control-label"></label>
                <input asp-for="Bras_Robot.speedfree" class="form-control" />
                <span asp-validation-for="Bras_Robot.speedfree" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Bras_Robot.Modele_Robot" class="control-label"></label>
                <input asp-for="Bras_Robot.Modele_Robot" class="form-control" />
                <span asp-validation-for="Bras_Robot.Modele_Robot" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
