@page
@model Flexi_Arm.Areas.Communication.Pages.EditModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>CommunicationModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CommunicationModel.Id" />
            <div class="form-group">
                <label asp-for="CommunicationModel.Name" class="control-label"></label>
                <input asp-for="CommunicationModel.Name" class="form-control" />
                <span asp-validation-for="CommunicationModel.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunicationModel.Ip" class="control-label"></label>
                <input asp-for="CommunicationModel.Ip" class="form-control" />
                <span asp-validation-for="CommunicationModel.Ip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunicationModel.Port" class="control-label"></label>
                <input asp-for="CommunicationModel.Port" class="form-control" />
                <span asp-validation-for="CommunicationModel.Port" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CommunicationModel.Modele_flexibowl" class="control-label"></label>
                <input asp-for="CommunicationModel.Modele_flexibowl" class="form-control" />
                <span asp-validation-for="CommunicationModel.Modele_flexibowl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
