@model string

<form asp-controller="Configuration" asp-action="ClearLogs" method="post">
    <input type="submit" value="Nettoyer le journal" />
</form>

<div class="logs-container">
    <h2>Logs</h2>
    <input type="text" id="search-input" placeholder="Rechercher..." />
    <pre id="logs-content">@Html.Raw(Model)</pre>
</div>

<style>
    .logs-container {
        max-height: 600px;
        overflow-y: auto;
        background-color: #F7F7F7;
        padding: 20px;
        border-radius: 10px;
        border: 1px solid #DEDEDE;
        position: relative;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.05);
    }

    h2 {
        font-size: 24px;
        color: #333;
        margin-bottom: 15px;
    }

    #search-input {
        width: 100%;
        padding: 10px;
        border: 1px solid #DEDEDE;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    #logs-content {
        font-family: 'Courier New', Courier, monospace;
    }

    .highlight {
        background-color: #FFD700;
        padding: 2px;
    }
</style>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var searchInput = document.getElementById("search-input");
        var logsContent = document.getElementById("logs-content");
        var originalLogs = logsContent.innerText.split("\n");

        searchInput.addEventListener("input", function () {
            var searchTerm = searchInput.value.toLowerCase();
            var filteredLogs = originalLogs.filter(function (log) {
                return log.toLowerCase().includes(searchTerm);
            });

            logsContent.innerHTML = "";

            filteredLogs.forEach(function (log) {
                var logElement = document.createElement("div");
                logElement.innerText = log;

                if (searchTerm) {
                    logElement.innerHTML = logElement.innerHTML.replace(new RegExp(searchTerm, "gi"), function (match) {
                        return "<span class='highlight'>" + match + "</span>";
                    });
                }

                logsContent.appendChild(logElement);
            });
        });
    });
</script>
