@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accès refusé";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Vous ne disposez pas des autorisations requises pour accéder à cette page. Pour y accéder, vous devez obtenir un rôle plus élevé ou contacter le service d’assistance</p>
</header>
