
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar-brand {
    color: #004087 !important
}

    .navbar-brand:visited {
        color: #004087 !important
    }

.navbar-default-color {
    color: #004087 !important
}

.navbar-inverse {
    color: #004087 !important
}
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #c6d200;
}

footer {
    margin-top:auto;
    background-color: #004087
}


button {
    width: 100%;
    height: 100%;
}



/* CSS */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(120deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(130deg 100% 16%) 0%, hsl(130deg 100% 25%) 8%, hsl(130deg 100% 32%) 92%, hsl(130deg 100% 16%) 100% );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.8rem;
    color: white;
    background: hsl(120deg 100% 32%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 2.2rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

    .button-82-pushable:hover .button-82-front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

/* CSS */
.button-83-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-83-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(35deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-83-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(35deg 100% 16%) 0%, hsl(35deg 100% 25%) 8%, hsl(35deg 100% 32%) 92%, hsl(35deg 100% 16%) 100% );
}

.button-83-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.8rem;
    color: white;
    background: hsl(35deg 100% 60%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-83-front {
        font-size: 2.1rem;
        padding: 12px 42px;
    }
}

.button-83-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

    .button-83-pushable:hover .button-83-front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

.button-83-pushable:active .button-83-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-83-pushable:hover .button-83-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-83-pushable:active .button-83-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-83-pushable:focus:not(:focus-visible) {
    outline: none;
}

/*Btn Rouge*/
.button-84-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-84-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(340deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-84-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 25%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100% );
}

.button-84-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.8rem;
    color: white;
    background: hsl(0deg 100% 60%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-84-front {
        font-size: 2.2rem;
        padding: 12px 42px;
    }
}

.button-84-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

    .button-84-pushable:hover .button-84-front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

.button-84-pushable:active .button-84-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-84-pushable:hover .button-84-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-84-pushable:active .button-84-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-84-pushable:focus:not(:focus-visible) {
    outline: none;
}



.b {
    border: 1px white;
}

.c {
    height: 80px;
    border: 1px white;
}



h1 {
    color: white ;
    font-family: Fantasy;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top:10px;
}

.navbar-brand {
    color: white;
    left: 0;
    margin: auto;
}

.h2 {
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    margin: 0 0 24px;
    text-align: center;
}


.p {
    color: #f8f8f8;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 24px;
}

.card-body {
    background-color: #e9e895;
}


a {
    color: white;
    text-decoration: underline;
}


    a:hover {
        color: #1c1c1c;
        text-decoration: underline;
    }

.navbar-custom {
    background-color: #004087;
}

.btn-custom {
    background-color: #004087;
    color:whitesmoke;
}

.underline {
    text-decoration: underline;
}



.footer-distributed {
    background: #004087;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    font: bold 14px sans-serif;
    text-align: left;
    padding: 5px 30px 5px;
    overflow: hidden;
}

section {
    width: 100%;
    display: inline-block;
    background: #004087;
    height: 60vh;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    text-decoration: underline;
}


/* Footer left */

.footer-distributed .footer-left {
    float: left;
}

/* The company logo */

.footer-distributed h3 {
    color: #ffffff;
    font: normal 36px 'Roboto', cursive;
    margin: 0 0 10px;
}

    .footer-distributed h3 span {
        color: #5383d3;
    }

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 0 0 10px;
    padding: 0;
}

    .footer-distributed .footer-links a {
        display: inline-block;
        line-height: 40;
        text-decoration: none;
        color: inherit;
    }

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer social icons */

.footer-distributed .footer-icons {
    margin-top: 40px;
}

    .footer-distributed .footer-icons a {
        display: inline-block;
        width: 35px;
        height: 35px;
        cursor: pointer;
        background-color: #33383b;
        border-radius: 2px;
        font-size: 20px;
        color: #ffffff;
        text-align: center;
        line-height: 35px;
        margin-right: 3px;
        margin-bottom: 5px;
    }

/* Footer Right */

.footer-distributed .footer-right {
    float: right;
}

    .footer-distributed .footer-right p {
        display: inline-block;
        vertical-align: top;
        margin: 22px 25px 0 0;
        color: #ffffff;
    }

/* The contact form */

.footer-distributed form {
    display: inline-block;
}

    .footer-distributed form input,
    .footer-distributed form textarea {
        display: block;
        border-radius: 3px;
        box-sizing: border-box;
        background-color: #1f2022;
        box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
        border: none;
        resize: none;
        font: inherit;
        font-size: 14px;
        font-weight: normal;
        color: #d1d2d2;
        width: 400px;
        padding: 18px;
    }

.footer-distributed ::-webkit-input-placeholder {
    color: #5c666b;
}

.footer-distributed ::-moz-placeholder {
    color: #5c666b;
    opacity: 1;
}

.footer-distributed :-ms-input-placeholder {
    color: #5c666b;
}


.footer-distributed form input {
    height: 55px;
    margin-bottom: 15px;
}

.footer-distributed form textarea {
    height: 100px;
    margin-bottom: 20px;
}

.footer-distributed form button {
    border-radius: 3px;
    background-color: #33383b;
    color: #ffffff;
    border: 0;
    padding: 15px 50px;
    font-weight: bold;
    float: right;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 1000px) {

    .footer-distributed {
        font: bold 14px sans-serif;
    }

        .footer-distributed .footer-company-name {
            font-size: 12px;
        }

        .footer-distributed form input,
        .footer-distributed form textarea {
            width: 250px;
        }

        .footer-distributed form button {
            padding: 10px 35px;
        }
}

@media (max-width: 800px) {

    .footer-distributed {
        padding: 30px;
    }

        .footer-distributed .footer-left,
        .footer-distributed .footer-right {
            float: none;
            max-width: 300px;
            margin: 0 auto;
        }

        .footer-distributed .footer-left {
            margin-bottom: 40px;
        }

        .footer-distributed form {
            margin-top: 30px;
        }

        .footer-distributed form {
            display: block;
        }

            .footer-distributed form button {
                float: none;
            }
}