
@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.navbar-brand {
    color: #004087 !important
}

    .navbar-brand:visited {
        color: #004087 !important
    }

.navbar-default-color {
    color: #004087 !important
}

.navbar-inverse {
    color: #004087 !important
}
html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}


body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #c6d200;
}

footer {
    margin-top:auto;
    background-color: #004087
}


button {
    width: 100%;
    height: 100%;
}



/* CSS */
.button-82-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-82-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(120deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-82-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(130deg 100% 16%) 0%, hsl(130deg 100% 25%) 8%, hsl(130deg 100% 32%) 92%, hsl(130deg 100% 16%) 100% );
}

.button-82-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.8rem;
    color: white;
    background: hsl(120deg 100% 32%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-82-front {
        font-size: 2.2rem;
        padding: 12px 42px;
    }
}

.button-82-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

    .button-82-pushable:hover .button-82-front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

.button-82-pushable:active .button-82-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-82-pushable:hover .button-82-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-82-pushable:active .button-82-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-82-pushable:focus:not(:focus-visible) {
    outline: none;
}

/* CSS */
.button-83-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-83-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(35deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-83-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(35deg 100% 16%) 0%, hsl(35deg 100% 25%) 8%, hsl(35deg 100% 32%) 92%, hsl(35deg 100% 16%) 100% );
}

.button-83-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.8rem;
    color: white;
    background: hsl(35deg 100% 60%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-83-front {
        font-size: 2.1rem;
        padding: 12px 42px;
    }
}

.button-83-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

    .button-83-pushable:hover .button-83-front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

.button-83-pushable:active .button-83-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-83-pushable:hover .button-83-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-83-pushable:active .button-83-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-83-pushable:focus:not(:focus-visible) {
    outline: none;
}

/*Btn Rouge*/
.button-84-pushable {
    position: relative;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    outline-offset: 4px;
    transition: filter 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-84-shadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: hsl(340deg 0% 0% / 0.25);
    will-change: transform;
    transform: translateY(2px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

.button-84-edge {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background: linear-gradient( to left, hsl(340deg 100% 16%) 0%, hsl(340deg 100% 25%) 8%, hsl(340deg 100% 32%) 92%, hsl(340deg 100% 16%) 100% );
}

.button-84-front {
    display: block;
    position: relative;
    padding: 12px 27px;
    border-radius: 12px;
    font-size: 1.8rem;
    color: white;
    background: hsl(0deg 100% 60%);
    will-change: transform;
    transform: translateY(-4px);
    transition: transform 600ms cubic-bezier(.3, .7, .4, 1);
}

@media (min-width: 768px) {
    .button-84-front {
        font-size: 2.2rem;
        padding: 12px 42px;
    }
}

.button-84-pushable:hover {
    filter: brightness(110%);
    -webkit-filter: brightness(110%);
}

    .button-84-pushable:hover .button-84-front {
        transform: translateY(-6px);
        transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
    }

.button-84-pushable:active .button-84-front {
    transform: translateY(-2px);
    transition: transform 34ms;
}

.button-84-pushable:hover .button-84-shadow {
    transform: translateY(4px);
    transition: transform 250ms cubic-bezier(.3, .7, .4, 1.5);
}

.button-84-pushable:active .button-84-shadow {
    transform: translateY(1px);
    transition: transform 34ms;
}

.button-84-pushable:focus:not(:focus-visible) {
    outline: none;
}



.b {
    border: 1px white;
}

.c {
    height: 80px;
    border: 1px white;
}



h1 {
    color: white ;
    font-family: Fantasy;
    font-size: 62px;
    font-weight: 800;
    line-height: 72px;
    margin: 0 0 24px;
    text-align: center;
    text-transform: uppercase;
    margin-top:10px;
}

.navbar-brand {
    color: white;
    left: 0;
    margin: auto;
}

.h2 {
    color: #ffffff;
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    font-weight: 800;
    line-height: 36px;
    margin: 0 0 24px;
    text-align: center;
}


.p {
    color: #f8f8f8;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    margin: 0 0 24px;
}

.card-body {
    background-color: #e9e895;
}


a {
    color: white;
    text-decoration: underline;
}


    a:hover {
        color: #1c1c1c;
        text-decoration: underline;
    }

.navbar-custom {
    background-color: #004087;
}

.left {
    margin-left: auto;
    margin-top:auto;
    text-align:center;
}

.right {
    margin-left:auto;
    margin-bottom: 0px;
}

.btn-custom {
    background-color: #004087;
    color:whitesmoke;
}

.underline {
    text-decoration: underline;
}